body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: azure;
  margin: 0;
  padding: 0;
  display: flex;
}
.firstpart {
  display: flex;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.linkbuttons {
  list-style: none;
  display: flex;
  gap: 30px;
}

.linkbuttons a {
  text-decoration: none;
  color: azure;
  font-size: 18px;
}

.secondpart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.text {
  max-width: 50%;
}

.musician {
  font-size: 55px;
}

picture img {
  width: 100%;
  height: auto;
}
.linkbuttons li a:hover {
  color: #ffcc00;
}

@media (max-width: 800px) {
  header {
    text-align: center;
  }

  .linkbuttons {
    gap: 10px;
  }

  .secondpart {
    text-align: center;
  }

  .text {
    max-width: 100%;
    margin-bottom: 20px;
  }

  picture img {
    /* max-width: 300px;*/
    padding-left: 50px;
  }
  p {
    text-align: center;
  }
  body {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  header {
    text-align: center;
  }

  .linkbuttons {
    gap: 10px;
  }

  .secondpart {
    text-align: center;
  }

  .text {
    max-width: 100%;
    margin-bottom: 20px;
  }

  picture img {
    /* max-width: 80%;*/
    padding-left: 50px;
  }

  p {
    text-align: center;
    justify-content: space-evenly;
  }

  body {
    flex-direction: column;
  }
}
