body {
  background-color: black;
  font-family: "poppins", sans-serif;
  color: azure;
  display: flex;
  justify-content: space-between;
}
header {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
}
ul {
  list-style: none;
  display: flex;
}*/

.linkbuttons {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  list-style: none;
  padding-right: 50px;
}
.linkbuttons ul {
  justify-content: left;
  gap: 10%;
  list-style: none;
  display: flex;
}
a {
  text-decoration: none;
  color: azure;
}
.secondpart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
.text {
  max-width: 50%;
}
img {
  padding-top: 50px;
  padding-right: 50px;
  width: 100%;
}
.musician {
  font-size: 55px;
}
.linkbuttons li a:hover {
  color: #ffcc00;
}
@media (max-width: 768px) {
  .firstpart {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .linkbuttons {
    flex-direction: column;
    gap: 1rem;
  }

  .secondpart {
    flex-direction: column;
    padding: 32px;
  }
}

@media (min-width: 1200px) {
  picture img {
    height: 500px;
    object-fit: cover;
  }
}
